body {
  font-family: Rubik, sans-serif;
}
header h1 {
  color: #023047;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.953rem;
  color: 212529;
}

.menu {
  text-transform: uppercase;
  color: #495057;
}
.aboutme h1 {
  font-size: 2.441rem;
  font-weight: 500;
  color: 212529;
}

.aboutme p {
  font-size: 1.25rem;
  font-weight: 100;
  color: #343a40;
}

.aboutme a {
  text-decoration: none;
  color: #0077b6;
}

.aboutme {
  background-color: #f1f8fa;
  border-radius: 10px;
}

footer p {
  color: #495057;
  font-size: 0.8rem;
}
