body {
  font-family: Rubik, sans-serif;
  color: #212529;
}
header h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.953rem;
  margin: 0;
}

header h1 a {
  color: #495057;
}

header h1 a:hover {
  color: #0d6dfd;
}

a {
  text-decoration: none;
}

h5 {
  font-size: 1.953rem;
}

.aboutme {
  /* background-color: #f1f8fa; */
  border-radius: 10px;
}

.aboutme h1 {
  font-size: 2.441rem;
  font-weight: 500;
  color: #212529;
}

.aboutme p {
  font-size: 1.25rem;
  font-weight: 100;
  color: #343a40;
}

.aboutme p:last-child {
  margin-bottom: 0;
}

footer p {
  color: #495057;
  font-size: 0.8rem;
}

.workexp {
  /* background-color: antiquewhite; */
}

.workexp h1 {
  font-size: 1.953rem;
  margin-bottom: 10px;
}

.workexp li {
  margin-bottom: 30px;
}
.workexp li:last-child {
  margin-bottom: 0px;
}
.workexp li:last-child p {
  margin-bottom: 0px;
}

nav {
  text-transform: uppercase;
}

nav a {
  color: #495057;
}

nav a:hover {
  color: #0d6dfd;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}

nav ul li:last-child {
  margin: 0;
}
